@import url('https://fonts.googleapis.com/css?family=Righteous');

button {
  font-family: 'Righteous', cursive;
  border: none !important;
  margin: 5px;
}

.App {
  text-align: center;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: transparent;
}

.hero {
  padding-top: 20px;
  background-color: transparent !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* appear on page load */
.fade-appear {
  opacity: 0;
  z-index: 1
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

/* enter onto page */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-appear.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

/* disappear on element exit */
.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
}

.cards-container {
  padding: 30px;
  border-radius: 8px;
  /* background-color: rgba(255, 255, 255, 0.1) */
}

@keyframes cardHover {
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(0.95);
    background-color: transparent;
  }
}

.card:hover {
  animation: cardHover 200ms 1 linear;
  animation-fill-mode: forwards;
}

@keyframes wobble {
  from{transform: none;}
  15%{transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
  30%{transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, -5deg);}
  45%{transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
  60%{transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
  75%{transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
  to{transform: none;}
}

.wobble {
  animation: wobble 1s 1 linear;
  animation-fill-mode: forwards;
}

@keyframes wobbleScore {
  from{transform: none;}
  15%{transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 0, -5deg);}
  30%{transform: translate3d(5%, 0, 0) rotate3d(0, 0, 0, -5deg);}
  45%{transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 0, -3deg);}
  60%{transform: translate3d(5%, 0, 0) rotate3d(0, 0, 0, 2deg);}
  75%{transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 0, -1deg);}
  to{transform: none;}
}

.wobble-score {
  animation: wobbleScore 500ms ease 0s 1 normal none running;
}